apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "waterflow.fullname" . }}-workflows
  labels:
    {{- include "waterflow.labels" . | nindent 4 }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi